{% extends 'base.html.twig' %}

{% block title %}Modifier User{% endblock %}

{% block body %}
<div class="V8">
    </div>
<h1 class="vehicule">Nouveau Véhicule</h1>
<div class="vehicule">
    {{ form_start(form) }}
        <div class="matricule">
        {{ form_row(form.matricule) }}
        </div>
         <div class="assurance">
        {{ form_row(form.assurance) }}
        </div>
        <div class="controle">
        {{ form_row(form.controle) }}
        </div>
        <div class="circulation">
        {{ form_row(form.circulation) }}
        </div>
        <div class="entretien">
        {{ form_row(form.entretien) }}
         </div>
          <div class="kilometres">
        {{ form_row(form.kilometrage) }}
         </div>
    </div>
    
        <button class="validervehicule" type="submit">Valider</button>
   
    {{ form_end(form) }}

{% endblock %}